.waiting {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0px;
    left:       0px;
    height:     100%;
    width:      100%;
	opacity:	0.5;
    filter:		alpha(opacity = 50); /* IE 8 */
    background: rgb(255, 255, 255) url('../images/spinner-lg.gif') 50% 50% no-repeat;
}

.waiting-inner {
	position: absolute;
	left: 50%;
	top: 50%;
}

/*
body.loading {
    overflow: hidden;   
}*/

body.loading .waiting {
    display: block;
}
